@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --theme__color1: #FF7800;
    --font1: 'Space Grotesk', sans-serif;
}

.main-wrap {
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    background-image: url('../images/BG_vulcano.jpg');
    background-size: cover;
    background-position: top;
}

.main-menu ul {
    display: flex;
    float: right;
    margin-top: 15px;
}

.main-menu ul li {
    margin-left: 27px;
    list-style: none;

}

.main-menu ul li:first-child {
    margin-left: 0;
}

.main-menu ul li a {
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
}

.main-menu ul li a:hover {
    color: var(--theme__color1);
}


.head-part h2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--theme__color1);
}

.head-part h2 span {
    color: #fff;
    font-weight: 300;
}

.content-step .head-part h3 {
    font-size: 20px;
    font-weight: 400;
}

.select-box1 {
    border: 1px solid var(--theme__color1);
    width: 300px;
    background: #01030D;
    display: flex;
    align-items: center;
    padding: 0 17px;
    height: 38px;
    gap: 30px;
    max-width: 100%;
}


.content-step .head-part h2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--theme__color1);
}

.select-box1 .nice-select {
    background: transparent;
    width: 200px;
    border: none;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    align-self: stretch;
    color: white;
    outline: none !important;


}

.select-box1 .nice-select:focus {
    outline: none !important;
    box-shadow: none;
}

.nice-select:active {
    outline: none !important;

}

.dropdown-item {
    font-size: 16px;
    line-height: initial;
    min-height: initial;
    padding: 12px 12px;
    min-width: 50px;
    color: white !important;

}

.dropdown-item:hover {
    background: var(--theme__color1);
}

.dropdown-menu {
    font-size: 1rem;
    color: #212529;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    margin-top: 4px;
    background-color: black;
    width: 100%;
    padding: 0px;
    transition: 0.2s all linear;

}

.dropdown-toggle::after {
    content: "";
    margin-left: 25%;
    font-size: 20px;
}

.elixir-dropdown {
    width: 121px !important;
    margin-left: -19px !important;
}

.connect-wallet-container {
    margin-top: 50px;
    margin-bottom: 30px;
}

.darke {
    font-size: 17px;
    font-weight: 400;
    color: white;

}

.egg-box {
    width: 280px;
    height: 280px;
    padding: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid var(--theme__color1);
    background: rgba(1, 3, 13, 0.651);
}

.egg-box .single-egg {
    height: 65px;
    width: 65px;
    border: 1px solid rgba(255, 255, 255, 0.486);
    display: flex;
    align-items: center;
    justify-content: center;

}

.single-egg img {
    width: 28px;
}

.evelove-container {
    width: 660px;
    height: 420px;
    background-size: contain;
    background-image: url('../images/shape.png');
    background-repeat: no-repeat;

}

.evelove-body {
    width: 380px;
    max-width: 100%;
    position: relative;
    padding: 40px 30px;
    border: 1px solid var(--theme__color1);
    background: rgba(1, 3, 13, 0.65);
    margin: 0 auto;
}

.evelove-body-2 {
    padding: 40px 30px;
    padding-bottom: 20px;
}

.evelove-container-page-2 {
    width: 700px;
    height: 400px;
    background-position: top !important;
    padding-top: 30px;
    margin-bottom: 20px;

}

.evolve {
    margin-bottom: 5px !important;
    text-transform: uppercase;
    margin-left: 30px;
}

.hatch {
    margin-bottom: 5px !important;
    text-transform: uppercase;
    margin-left: 30px;
}

.question-plus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-2-question-plus {
    justify-content: center !important;
}

.question-container {
    height: 106px;
    width: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.486);
    border-image: initial;
}

.default-big-button:hover {
    background: rgb(56, 14, 83);
    color: white !important;

}

.question-container img {
    width: 50px;

}

.plus-container img {
    width: 30px;

}

.question-text {
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0px 0px;
    color: white;
}

.default-big-button {
    border: 1px solid var(--theme__color1);
    height: 50px;
    background: rgba(56, 14, 83, 0.397);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
    color: white;
    text-decoration: none !important;
}


.offcanvas-close {
    display: none !important;
    color: white;
    font-size: 28px;
    margin: 0px !important;
    padding: 0px !important;
}

.offmenu {
    display: flex !important;
}

.no-display {
    display: none !important;
}

.small-screen-nav .offcanvas-header {
    justify-content: end !important;
    background-color: black;
}

.small-screen-nav .offcanvas-body {
    background-color: black;

}

.offcanvas-start {
    width: 260px !important;

}

.small-nav-bar {
    list-style: none;
    text-align: center;
}

.small-nav-bar li {
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 8px;
}

.small-nav-bar li a {
    color: white;

    text-decoration: none !important;
}

.small-screen-nav .offcanvas-header .btn-close {
    padding: 0.5rem 0.5rem !important;
    margin-top: 0rem !important;
    opacity: 1 !important;
}

.top-btn {
    position: fixed;
    bottom: 10px;
    right: 30px;
    transition: 0.1s all linear;
}

@media only screen and (max-width:1200px) {
    .main-wrap .row>* {
        width: auto !important;
    }

    .connect-wallet-container {
        width: fit-content;
        margin: 35px auto;
    }


}

@media only screen and (max-width:992px) {
    .offcanvas-close {
        display: block !important;
    }

    .page-2-row {
        justify-content: center !important;
    }

    .offmenu {
        display: none !important;
    }
}

@media only screen and (max-width:760px) {
    .evelove-container {
        width: auto;
        height: auto;
        background-size: cover;
    }

    .drake-b {
        margin-top: 25px !important;
    }

}